@import './base.css';
@font-face { font-family: MoonPhases; src: url('moon_phases.ttf') };
#app {
  margin: 0 auto;
  font-weight: normal;
}
body {
  overflow: hidden; /* Hide scrollbars */
}
.moon {
  font-family: MoonPhases;
  color: #D19900;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: antiquewhite;
  transition: 0.4s;
  padding: 3px;
}

.main-content {
  position:fixed;
  top: 180px;
  width: 80vw;
  height: 60vh;
  border: 2px solid antiquewhite;
  margin: 45px 10vw auto 10vw;
  overflow-y: scroll;
  color:antiquewhite;
  background-color: #a79494;
  padding-bottom: 150px;
}
.main-content::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-content, body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.btn {
  background-color: #D19900;
  color:antiquewhite;
  border: solid 2px antiquewhite;
}

.btn:hover {
  background-color: antiquewhite !important;
  border: solid 2px antiquewhite;
  color: #D19900;
}

.glow, .glow:hover, .glow:focus
{
	text-decoration: none;
	color: antiquewhite;
	text-shadow: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
}
.glow:hover, .glow:focus
{
	color: #fff;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}
@media (hover: hover) {
  a:hover {
    color: #D19900;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width:100%;
  }
}
