@import './base.css';
@font-face { font-family: MoonPhases; src: url('moon_phases.ttf') };
#app {
  margin: 0 auto;
  font-weight: normal;
}

.moon {
  font-family: MoonPhases;
  color: #D19900;
  cursor: pointer;
}
a,
.green {
  text-decoration: none;
  color: antiquewhite;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: #D19900;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width:100%;
  }
}
